:root {
  --text-color: #757575;
  --selection-color: #2196f3;
  --main-white: #ffffff;
  --logo-black: #000000;
  --bodytext-color: #212121;
  --footerbackground-color: #2f303a;
  --teamsectionbackgroundn-color: #f5f4fa;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--bodytext-color);
  font-size: 16px;
}

.logo-web-top,
.logo-studio-top {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03;
}

.logo-studio-top {
  color: var(--logo-black);
}

.logo-web-top {
  color: var(--selection-color);
}

.title-about {
  width: 270px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03;
  text-transform: uppercase;
  margin-bottom: 10px;
  justify-content: center;
  color: var(--bodytext-color);
}

.text-about {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.navigation-links {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02;
  gap: 46px;
  margin-left: 93px;
  display: flex;
  align-items: center;
}

.navigation-links a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02;
}
.navigation-links > li {
  list-style-type: none;
}
.navigation-links a:hover,
.navigation-links a:focus,
.navigation-links a:active {
  color: var(--selection-color);
}
.contact > li {
  list-style-type: none;
}
.filters > li {
  list-style-type: none;
}
.contact {
  display: flex;
  gap: 50px;
  margin-left: auto;
}
.contact a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02;
}
.contact a:hover,
.contact a:focus,
.contact a:active {
  color: var(--selection-color);
}
/* buttony */
.projects-filters-section.container {
  display: block;
  padding-bottom: 6px;
  padding-top: 6px;
  margin-bottom: 34px;
}
.projects-filters:not(:last-child) {
  margin-right: 8px;
}
/* buttony */
.projects-list {
  display: flex;
}

.title-main.container {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06;
  text-transform: uppercase;
  color: var(--main-white);
}

.link > li {
  list-style-type: none;
}

.teamcard-list > li {
  list-style-type: none;
}
.filters {
  display: flex;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03;
  text-align: center;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 34px;
}
.filters {
  display: flex;
  justify-content: center;
}
.filters:not(:last-child) {
  margin-right: 8pc;
}

.team-caption .upper-caption {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03;
}
.team-caption .lower-caption {
  font-size: 14px;
  color: var(--text-color);
  line-height: 1.46;
  letter-spacing: 0.03;
}

.projects-caption .upper-caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06;
  color: var(--bodytext-color);
  margin-top: 20px;
  margin-bottom: 4px;
  padding: 0px;
}
.projects-caption .lower-caption {
  line-height: 1.88;
  color: var(--text-color);
}

footer {
  background-color: var(--background-footer-color);
  padding: 60px 0;
}

.footer-address .site {
  text-decoration: none;
  color: var(--main-white);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03;
  list-style-type: none;
}
.footer-address .site:hover,
.footer-address .site:focus,
.footer-address .site:active {
  color: var(--selection-color);
}
.footer-address .contact {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
}
.footer-address .contact:hover,
.footer-address .contact:focus,
.footer-address .contact:active {
  color: var(--selection-color);
}
.footer-address > li {
  list-style-type: none;
  justify-content: left;
}
button[type="button"] {
  cursor: pointer;
}
button[type="button"]:hover,
button[type="button"]:focus,
button[type="button"]:active {
  color: var(--main-white);
  background: var(--selection-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.logo-web-bottom,
.logo-studio-bottom {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03;
}
.logo-web-bottom {
  color: var(--selection-color);
}
.logo-studio-bottom {
  color: var(--main-white);
}
.background-footer {
  display: block;
  margin: auto;
  width: auto;
  height: 252px;
  background-color: var(--footerbackground-color);
}
.main-button {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06;
  text-align: center;
  height: 50px;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  color: #ffffff;
  background-color: var(--selection-color);
}

.main-button:hover,
.main-button:focus,
.main-button:active {
  color: var(--main-white);
  background: var(--selection-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding-bottom: 10px;
  padding-top: 10px;
}
nav a {
  color: var(--main-text-color);
  text-decoration: none;
}
.main-section-background {
  margin: auto;
  height: 600px;
  width: auto;
  margin-bottom: 50px;
  text-align: center;
  padding: 200px 0;
  background-color: var(--footerbackground-color);
}
.container {
  width: 1200px;
  margin: auto;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container > li {
  list-style-type: none;
}

.header-box {
  align-items: center;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  width: auto;
  border: 1px solid #ececec;
}
.header.container {
  display: flex;
  align-items: center;
}
.lorem-area:not(:last-child) {
  margin-right: 30px;
}

.lorem-list.container {
  display: flex;
  height: 101px;
  width: 1170px;
}
.image-title {
  width: auto;
  height: 42px;
  display: block;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03;
  margin-bottom: 50px;
  color: var(--bodytext-color);
}

.image-section container {
  margin: 0px;
  width: 1170px;
  height: 386px;
}
.link.container {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.teamcard-section-background {
  display: block;
  margin: auto;
  width: auto;
  height: 648px;
  background-color: var(--teamsectionbackgroundn-color);
}
.teamcard-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.teamcard-title.container {
  padding-top: 94px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.teamcard-figure {
  padding-bottom: 94px;
  justify-content: center;
  display: block;
  background-color: var(--main-white);
  width: 270px;
  height: 368px;
  margin: 0px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
section {
  padding: 94px;
}
.teamcard-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.upper-caption {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.19;
  letter-spacing: 0.03;
  color: var(--bodytext-color);
}
.lower-caption {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--text-color);
  margin-bottom: 0px;
}
.team-caption {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
